$def with (mensaje)
<html>

<head>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/bootstrap.min.css" >
  <script src="static/script.js"></script>

</head>

<body class="cuerpo">


     <div class="row">
     <div class="col-sm-1"></div>
     <div class="col-sm-4">
        <h1><span class="label label-default">Amigo Secreto 2016</span></h1>
      </div>
      <div class="col-sm-7" ></div>      
    </div>
 
  <form id="form" action="/" method="POST">
     <div class="row" style='margin-top: 10px;margin-bottom: : 0px'>
       <div class="col-sm-2">
       <div class="col-sm-5">
        <div class="container">
          <div class="jumbotron" id = 'names' >
           <div class="radio">
            <label style = "color:white;"><input type="radio" name="nameradio" value = 'Diego' checked = 'checked' >Diego Casabianca</label>
           </div>
           <div class="radio">
            <label style = "color:white;"><input type="radio" name="nameradio" value = 'Marcela' >Marcela Casabianca</label>
           </div>
           <div class="radio">
            <label style = "color:white;"><input type="radio" name="nameradio" value = 'Cristina' >Cristina Casabianca</label>
           </div>
           <div class="radio">
            <label style = "color:white;"><input type="radio" name="nameradio" value = 'Camilo' >Camilo Gonzalez</label>
           </div>
           <div class="radio">
            <label style = "color:white;"><input type="radio" name="nameradio" value = 'Alberto' >Alberto Gonzalez</label>
           </div>
           <div class="radio">
            <label style = "color:white;"><input type="radio" name="nameradio" value = 'Gabriela' >Maria Gabriela Calderon</label>
           </div>
           <div class="radio">
            <label style = "color:white;"><input type="radio" name="nameradio" value = 'Emilia' >Emilia Gonzalez</label>
           </div>
           <div class="radio">
            <label style = "color:white;"><input type="radio" name="nameradio" value = 'Nicolas' >Nicolas Gonzalez</label>
           </div>
           <div class="radio">
            <label style = "color:white;"><input type="radio" name="nameradio" value = 'Felipe'>Felipe Gonzalez</label>
           </div>
           <div class="form-group">
            <label style = "color:white;" for="usr">Contrasena:</label>
            <input type="text" class="form-control" name = "pwd" id="pwd">
            <h3><span class="label label-danger">$mensaje</span></h3>

          </div>
          <input type="submit" class="btn" value="Dar Amigo Secreto">
          </div>
         </div> 
      </div>
      <div class="col-sm-5"></div>
    </div>
  </div>
  </form> 
        

</body>

</html>