$def with (amigo)

<html>

<head>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/bootstrap.min.css" >
  <script src="static/script.js"></script>

</head>

<body class="cuerpo">


     <div class="row">
     <div class="col-sm-1"></div>
     <div class="col-sm-4">
        <h1><span class="label label-default">Amigo Secreto 2016</span></h1>
      </div>
      <div class="col-sm-7" ></div>      
    </div>
 
  <form id="form" action="/" method="POST">
     <div class="row" style='margin-top: 10px;margin-bottom: : 0px'>
       <div class="col-sm-2">
       <div class="col-sm-5">
        <div class="container">
          <div class="jumbotron" id = 'names' >
          <h2><span class="label label-primary">Tu amigo secreto es: </span></h2>
          <h2><span class="label label-default" id = 'amigo_secreto'>$amigo</span></h2>
          </div>
         </div> 
      </div>
      <div class="col-sm-5"></div>
    </div>
  </div>
  </form> 
        

</body>

</html>